<div class='col-md-12'>
  <%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
  <div id='error_explanation'>
    <h2><%= pluralize(@post.errors.count, 'error') %> prohibited this post from being saved:</h2>

    <ul>
      <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class='form-group'>
    <%= f.label :source %><br>
    <%= f.text_area :source, class: 'form-control' %>
  </div>
  <div class='radio'>
    <%= f.label :option do %>
      <%= f.radio_button :option, 'tw', checked: true %>tw
    <% end %>
    <%= f.label :option do %>
      <%= f.radio_button :option, 'sg' %>sg
    <% end %>
    <%= f.label :option do %>
      <%= f.radio_button :option, 'hk' %>hk
    <% end %>
    <%= f.label :option do %>
      <%= f.radio_button :option, 'cn' %>cn
    <% end %>
  </div>
  <div class='form-group'>
    <%= f.submit class: 'btn btn-default' %>
  </div>
  <% end %>
</div>
