<p id="notice"><%= notice %></p>

<p>
  <strong>Source:</strong>
  <%= @post.source %>
</p>

<p>
  <strong>Result:</strong>
  <%= @post.result %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
